@use 'src/styles/vars';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: vars.$gutter;
    align-items: center;
    
    &-title {
        font-size: 2em;
    }

    &-button {
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 0.4em;
        font-weight: 700;
        background: none;
        border: none;
        color: vars.$light-color;

        &--icon{
            width: 20px;
            height: 20px;
        
        }

        .app--light & {
            color: vars.$dark-color;
        }
    }

    .app--light & {
        color: vars.$dark-color;
    }
}